api-laravel/node_modules
api-laravel/public/build
api-laravel/public/hot
api-laravel/public/storage
api-laravel/storage/*.key

api-laravel/.env
api-laravel/.env.backup
api-laravel/.phpunit.result.cache
api-laravel/Homestead.json
api-laravel/Homestead.yaml
api-laravel/npm-debug.log
api-laravel/yarn-error.log
api-laravel/.idea
api-laravel/.vscode


front/node_modules